# Ignora le variabili d'ambiente
.env

# Ignora la cartella dei node_modules
node_modules/*

# Ignora i file compilati di TypeScript
dist/*

# Ignora il report di copertura del codice di Jest
coverage/*